<aside id="logo" class="clearfix">
  <div class="clearfix">
    <a href="{{ root_url}}/"><i class="fa fa-beer">{{ site.title }}</i></a>
  </div>
</aside>

<div id="menu">
  {% if site.title %}
  <div class="title">
    <h1 id="title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  </div>
  {% endif %}
  {% if site.subtitle %}
  <div class="subtitle">
    <h2 id="subtitle">{{ site.subtitle }}</h2>
  </div>
  {% endif %}
  <div class="icon-row">
    <div class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="http://www.cleoph.us"><i class="fa fa-beer fa-stack-1x"></i></a>
    </div>
    <div class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="http://github.com/finack"><i class="fa fa-github fa-stack-1x"></i></a>
    </div>
    <div class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="http://twitter.com/finack"><i class="fa fa-twitter fa-stack-1x"></i></a>
    </div>
  </div>
  <div class="icon-row">
    <div class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="http://www.linkedin.com/in/finack"><i class="fa fa-linkedin fa-stack-1x"></i></a>
    </div>
    <div class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="http://www.pinterest.com/finack/"><i class="fa fa-pinterest fa-stack-1x"></i></a>
    </div>
    <div class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="mailto:peter@finack.com"><i class="fa fa-inbox fa-stack-1x"></i></a>
    </div>
  </div>
  <div class="icon-row">
    <div class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="http://feeds.feedburner.com/RandomGeekery"><i class="fa fa-rss fa-stack-1x"></i></a>
    </div>
  </div>
</div>


<aside id="octopress_linkback">
  <a href="http://octopress.org/">
    <span class="unicode_square">
      <span class="unicode_circle">
        &nbsp;
      </span>
    </span>
    <span class="octopress">Powered by Octopress</span>
  </a>
</aside>
